body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #A6C3D5;
    height: 100vh;
  }
  nav {
    background-color: #1877f2;
    width: 200px;
    height: 100vh;
    padding-top: 20px;
    box-shadow: 2px 0 6px rgba(0,0,0,0.1);
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    margin: 20px 0;
    text-align: center;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
  }
  nav ul li a:hover {
    background-color: #145dbf;
    border-radius: 8px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
  }

  header, footer {  
    background-color: #177EC0;
    color: white;
    text-align: center;
    padding: 15px;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  input, button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  button {
    background-color: #1877f2;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #1d4374;
  }
  .formulario {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.fila {
  display: flex;
  gap: 20px;
}

.fila input,
.fila select {
  flex: 1;
  padding: 10px;
  font-size: 1em;
}

.acciones {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

button,
.cancelar-btn {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.cancelar-btn {
  background-color: #A6C3D5;
  color: black;
}
.cancelar-btn:hover {
    background-color: #6d818e;
  }

.formulario {
  width: 800px;
  margin: 100 auto 0 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.botones-busqueda {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.botones-busqueda .cancelar-btn {
  text-align: center;
  background-color: #55a5d6;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
}
.botones-busqueda .cancelar-btn:hover {
    background-color: #6d818e;
  }

